.hoverRoundButton {
    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    backdrop-filter: blur(0.05px);
    z-index: 20;
}

.roundButton {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .08);
}

.hoverRoundButton .tooltipText {
    visibility: hidden;
    width: 400px;
    background-color: white;
    color: rgb(9, 1, 1)b0b;
    border-radius: 6px;
    padding: 24px;

    /* Position the tooltip */
    position: absolute;
    top: -150px;
    right: 0px;
}

.hoverRoundButton:hover .tooltipText {
    visibility: visible;
}